* {
  padding: 0;
  margin: 0;
  border: 0px solid red;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
}

body {
  background: linear-gradient(0.24turn, #232323, #121212);
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 35vh 20vw 0;

  background-color: transparent;
  color: white;
}

h1 {
  font-size: 80px;
  color: #00d957;
}

nav {
  margin: 40px 0;
}

.button {
  border-radius: 50px;
  padding: 20px;
  background-color: #00d957;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  margin: 10px 10px 0 0;
}
