* {
  padding: 0;
  margin: 0;
  border: 0px solid red;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
}

@media screen and (max-width: 767px) {
  #main {
    padding: 25vh 10vw 0;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 20px;
  }

  nav {
    margin: 10px 0;
  }

  .button {
    padding: 20px;
  }

  ul {
    flex-direction: row;
  }

  li {
    margin: 50px 10px 0 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #main {
    padding: 30vh 15vw 0;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 30px;
  }

  nav {
    margin: 40px 0;
  }

  .button {
    padding: 20px;
  }

  ul {
    flex-direction: row;
  }

  li {
    margin: 10px 10px 0 0;
  }
}

@media screen and (min-width: 1024px) {
  #main {
    padding: 35vh 20vw 0;
  }

  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 40px;
  }

  nav {
    margin: 40px 0;
  }

  .button {
    padding: 20px;
  }

  ul {
    flex-direction: row;
  }

  li {
    margin: 10px 10px 0 0;
  }
}

body {
  background: linear-gradient(0.24turn, #232323, #121212);
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  color: white;
}

h1 {
  color: #00d957;
}

.button {
  border-radius: 50px;
  background-color: #00d957;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}
